= form_for @place do |f|
  %fieldset.form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  %fieldset.form-group
    = f.label :visited_by
    = f.text_field :user_id, class: "form-control"
  %fieldset.form-group
    = f.label :address, 'Address'
    = f.text_field :address, class: "form-control"
  = f.submit 'Add!', class: 'btn btn-primary'
