%h4 Enter either address or coordinates
%fieldset.form-group
  = f.label :raw_address, 'Address'
  = f.text_field :raw_address, class: "form-control"
  %small.text-muted
    You can also enter IP. Your IP is #{request.ip}
.form-group.row
  .col-sm-1
    = f.label :latitude
  .col-sm-3
    = f.text_field :latitude, class: "form-control"
  .col-sm-1
    = f.label :longitude
  .col-sm-3
    = f.text_field :longitude, class: "form-control"
